<!DOCTYPE html>
{% load static %}
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Shopping</title>
  </head>

  <body
    style="
      direction: rtl;
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    "
  >
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href={%url 'index'%}>דף הבית</a>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">דף בית</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">לינק</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">עוד משהו</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="חיפוש"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0" style="margin-top: 4em">
      <div class="container">
        <div
          class="jumbotron"
          style="text-align: center; border-bottom: 1px solid black"
        >
          <h1 class="mt-5">מוצרים ועוד</h1>
          <p class="lead">כאן תוכלו למצוא מספר מוצרים לבית</p>
        </div>
    </main>


  <div class="row" style="direction: flex; align-items: space-between;">
  <div class="col-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="direction: rtl; float: right; margin-top: 3em;">
      <a href="/" class="link-dark text-decoration-none">
        קטגוריות
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="{%url 'tagged' "חשמל" %}" class="nav-link link-dark">
            מוצרי חשמל
          </a>
        </li>
        <li>
          <a href="{%url 'tagged' "ריהוט" %}" class="nav-link link-dark">
            רהיטים
          </a>
        </li>
        <li>
          <a href="{%url 'tagged' "מטרייה" %}" class="nav-link link-dark">
            מטריות
          </a>
        </li>
        <li>
          <a href="{%url 'tagged' "אדום" %}" class="nav-link link-dark">
            פריטים אדומים
          </a>
        </li>
        <li>
          <a href="{%url 'tagged' "שחור" %}" class="nav-link link-dark">
            פריטים שחורים
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="col-8">  
    <div class="items" style="margin-right: 5%; margin-top: 3em; direction: rtl;">
      {%if items%}
      <div class="row">
        {%for item in items%}
        <div class="card" style="width: 16rem; margin-left: 2em; border: 1px solid black; margin-bottom: 3em;">
          <img class="card-img-top" src="{{item.picture.url}}" alt="Card image cap" style="border-bottom: 1px solid black;">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">{{item.time_added}}</p>
            <p class="card-text">{{item.price}}$</p>
            {%for tag in item.tags.all%}
            <a href={% url 'tagged' tag %}><span class="badge bg-success">{{tag}}</span></a>
            {%endfor%}
            <br>
            <a href="#" class="btn btn-primary" style="margin-top: 1em;"><span>ראו עוד</a>
          </div>
        </div>
        {%endfor%}
        <div>      
    </div>
    {%endif%}
  </div>
</div>


    
    <script
      src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
